.routeindex {
    height:300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.routeindextext {
    height: 180px;
    max-width:300px;
    overflow:hidden;
}

.routescontainer {
    margin-top: 20px;
    margin-bottom: 150px
}

.routemap {
    width: 100%;
    height: 350px;
    z-index: 1;
}

.routeinstructions {
    margin-top: 20px;
    margin-bottom: 50px;
}

.routesteps {
    margin-bottom: 150px;
}

.legend .row:nth-of-type(odd) {
background-color:#eee;
}
.legend .row:nth-of-type(even) {
background: #FFFFFF;
}

.stepmap {
    width: 100%;
    height: 350px;
    z-index: 1;
}

.stepcontainer {
    margin-top: 20px;
    height: 500px;
}

#stepslider {
    height: 350px;
    overflow: hidden;
}
.map-reset-button {
    position: relative;
    bottom: 35px;
    left: 10px;
    z-index: 20
}