{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ geojson|json_script:"geojson"}}

<link rel="stylesheet" type="text/css" href="{% static 'stepstyle.css' %}" />

<div class="homebanner">
    <div class="container">
        <div class = "row">
            <div class = "col-md-6">
                 <h1>{{ route.name }}</h1>
                 <p> {{ route.text|safe }}</p>
                 <p>Route start: <a href="javascript:flyTo({{route.startpoint.x}},{{route.startpoint.y}})">{{route.startname}}</a></p>
                 <p>Route end:   <a href="javascript:flyTo({{route.endpoint.x}},{{route.endpoint.y}})">{{route.endname}}</a></p>
            </div>
            <div class = "col-md-6">
                <div id='map' class="routemap"></div>
                <button class="map-reset-button" onClick="zoomToExtent()">Reset</button>
                {% include 'mapbox.html' %}
            </div>
        </div>
    </div>

</div>
<div class="container routeinstructions legend">
    <h2>Route Instructions</h2>
    {% for instruction in instructions|dictsort:"id" %}
    <div class="row align-items-center" id="{{instruction.id}}_ins">
        <div class="col-md-3" >
            <a href="javascript:flyTo({{instruction.location.x}},{{instruction.location.y}})">{{instruction.name}}</a>
        </div>
        <div class="col-md-8">
            {{instruction.instruction|safe}}
        </div>
        <div class="col-md-1">
            <button onClick="document.getElementById('{{instruction.id}}_ins').style.display='none'" class="btn btn-success">Done</button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container routesteps legend">
<h2>The Steps</h2>
    {% for step in steps %}
     <div class="row align-items-center" id="{{step.id}}_ins">
        <div class="col-md-3" >
            <a href="javascript:flyTo({{step.location.x}},{{step.location.y}})">{{step.name}}</a>
        </div>
        <div class="col-md-8">
            {{step.text|safe}}
        </div>
        <div class="col-md-1">
            <a href="/steps/step/{{ step.id }}">Details</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}